---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "DHRI@GC"
    link: "/graduate-center/"
    disabled: true
  - label: "Schedule"
    link: "/graduate-center/schedule/"
---

{% include header.html %}
{% include nav.html %}

<section id="" class="py-4">
  <div class="container text-white py-3">
    <div class="card my-2">
    2018 Schedule
    </div>
    <div class="card my-2">
    2021 Schedule
    </div>
  </div>
</section>

{% include footer.html %}