---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
---

{% include header.html %}
{% include nav.html %}
{% include people/_build.html %}


<section id="" class="pt-4">
  <div class="container text-dark">
    <h1 class="text-white">Fellows</h1>
    <div class="row">
      {% for person in fellows_current %}{% include people/_card.html person=person %}{% endfor %}
    </div>

    <hr style="border-top: 1px solid rgba(255, 255, 255, 0.1)" />

    <h1 class="text-white">Faculty</h1>
    <div class="row">
      {% for person in faculty_current %}{% include people/_card.html person=person %}{% endfor %}
    </div>

  </div>
</section>

{% include footer.html %}