<script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
<script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="/assets/js/custom-jquery.js"></script>
<script src="/assets/js/jquery.ajaxchimp.js"></script>