---
title: "Local DHRI Institutes run by Community Leaders"
title_short: "Local Institutes"
breadcrumbs:
  - label: "About"
    link: "/about/"
  - label: "Local"
    link: "/local/"
---

{% include header.html %}
{% include nav.html %}


<section class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>Local DHRI Institutes run by Community Leaders</h1>
    </div>
  </div>
</section>



<section id="locals" class="bg-dark py-4" style="min-height:300px;">
  <div class="container text-white py-3">
    <div class="card my-2">
    <a href="https://ach.dhinstitutes.org/">Local institutes run in 2018</a>
    </div>
    <div class="card my-2">
      <a href="2021">Local institutes run in 2021</a>
    </div>
  </div>
</section>

{% include footer.html %}