---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
---

{% include header.html %}
{% include nav.html %}

<section class="jumbotron text-center">
  <div class="container">
  <img src="{{ 'dhri-round.png' | prepend: site.dirs.logo }}" class="img-fluid mb-1" style="height:150px;">
    <h1 class="jumbotron-heading">Further Expanding Digital Humanities Communities of Practice</h1>
    <p class="lead text-left">The Digital Humanities Research Institute is an intensive, community-oriented, and foundational approach to learning technical skills in service of humanities teaching and learning.</p>
    <!-- <p class="text-left">Through seminar-style discussions with leading scholars in digital humanities, hands-on workshops on core technical competencies, and project development labs, participants will become familiar with working from the command line, collaborating with git, programming with Python, querying structured data, creating maps, and analyzing texts computationally. You will also become part of a growing network of institute leaders by developing your own DHRI based on our open, core curriculum to be led at your home institution or organization.</p> -->
  </div>
</section><!-- ./ Jumbotron -->


<section id="" class="bg-dark-blue">
  <div class="container-fluid text-white" style="min-height:300px;">
    <p>This is the intro</p>
  </div>
</section>

{% include nav/test.html %}


<section id="timeline">
  <div class="container-fluid">
    <div class="row border-top border-bottom" style="height: 500px; overflow: scroll; background-color:#afb3b6;">
      <div class="col-lg-7 mx-auto py-3">
        <h4>Events</h4>
          <ul class="timeline">
              {% assign sorted = site.data.events | sort: 'date' | reverse %}
              {% for item in sorted %}
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">{{ item.header }}</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>{{ item.date }}</span>
                    <p class="text-small mt-2 font-weight-light">{{ item.text }}</p>
                </li>
              {% endfor %}
          </ul><!-- End -->
        </div>
    </div>
  </div>
</section>

{% include footer.html %}