---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
---

{% include header.html %}

<style>

#info_box {
    max-width: 450px;
    min-width: 300px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: .25rem;
    position: absolute;
    top: 0px;
    left: 0px;
}

#legend {
    max-width: 450px;
    min-width: 300px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: .25rem;
    position: absolute;
    top: 90px; /* set dynamically */
    left: 15px; /* set dynamically */
    padding: 10px;
}

.toast-header {
  display: flex;
  min-height: 40px;
  align-items: center;
  padding: .25rem .75rem;
  color: #6c757d;
  background-color: rgba(255,255,255,.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.viz {
  width: 100%;
  background: white;
  border-bottom: #999 1px solid;
  border-top: #999 1px solid;
}

.links line {
  /* stroke: #999; */
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node {
  padding: 10px;
  cursor: crosshair;
}

.bold {
  font-weight: 600;
}

.workshop-label {
  font-family: sans-serif;
  font-size: 10px;
}

.dhri-label {
  font-family: sans-serif;
  font-size: 13px;
}

</style>



<div id="info_box"></div>
<div id="legend">
  Legend
</div>

<svg class="viz" width="960" height="600"></svg>

{% include footer/_scripts.html %}
<script src="https://d3js.org/d3.v4.min.js"></script>

<script>

// set up svg element
var svg = d3.select(".viz"),
    width = +svg.attr("width"),
    height = +svg.attr("height");

var g = svg.append("g")

var color = d3.scaleOrdinal(d3.schemeCategory20c);

var stroke = function(d) {
  return Math.sqrt(d.value);
}

var stroke_color = function(d) {
  if (d.color) {
    return d.color;
  } else {
    return "silver"
  }
}

var groups_to_sizes = function(d) {
  switch(d.group) {
    case 0: // DHRI GC
      return(30)
      break;
    case 1: // DHRIs
      return(10)
      break;
    case 2: // External nodes
      return(10)
      break;
    case 3: // Workshops
      return(5)
      break;
    default:
      return(5)
  }
}



var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody().strength(-700))
    .force("center", d3.forceCenter(width / 2, height / 2))
    .force('collision', d3.forceCollide().radius(function(d) { return d.radius }));

d3.json("data.json", function(error, graph) {
  if (error) throw error;

  var link = g.append("g")
      .attr("class", "links")
    .selectAll("line")
    .data(graph.links)
    .enter().append("line")
      .attr("stroke-width", function(d) { return stroke(d); })
      .attr("stroke", function(d) { return stroke_color(d); });

  var nodes = g.append("g")
    .attr("class", "nodes")
    .selectAll("g")
    .data(graph.nodes)
      .enter()
      .append("g")
      .attr("class", "node")
      .attr("id", function(d) { return d.id; })

  var circles = nodes.append("circle")
      .attr("r", function(d) { return groups_to_sizes(d); })
      .attr("fill", function(d) { return color(d.group); })
      .call(d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended)
      );

  var labels = nodes.append("text")
      .text(function(d) {
        return d.display_header;
      })
      .attr('x', function(d) { return(0); })
      .attr('y', function(d) { return(groups_to_sizes(d) + 10); })
      .attr('text-anchor', 'middle')
      .attr('class', function(d) { if (d.type == "Workshop") { return "workshop-label"; } else { return "dhri-label"; } })

  nodes.append("title")
      .text(function(d) { return d.text; });

  simulation
      .nodes(graph.nodes)
      .on("tick", ticked);

  simulation.force("link")
      .links(graph.links);

  function ticked() {
    link
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    nodes
        .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
        })
  }

  var zoom_handler = d3.zoom()
    .on("zoom", zoom_actions);

  zoom_handler(svg);

  //Zoom functions
  function zoom_actions(){
      g.attr("transform", d3.event.transform)
  }

  svg.selectAll(".node")
    .on("click", function(d){
      $('.node').removeClass('bold');
      var current_data = d3.select('#'+d.id).datum();
      $('#'+d.id).addClass('bold')
      $('#info_box').html(info_box(current_data));
      $('#info_box').css('top', d.y + $('#info_box').height()-75) // offset can be changed here...
      $('#info_box').css('left', d.x - $('#info_box').width()/2 ); // offset = half of info_box's width
      $('#info_box').show();
      d3.event.stopPropagation();
    });

  svg.on("click", function(d) {
    $('.node').removeClass('bold');
    $('#info_box').hide();
  });
});


function info_box(current_data) {
  console.log(current_data);
  return(`<div class="toast-header">
            <img src="http://via.placeholder.com/20x20" class="rounded mr-2" alt="...">
            <strong class="mr-auto">${current_data.display_header}</strong>
            <small class="text-muted">11 mins ago</small>
            <!-- Don't know how to handle this just yet
              <button id="close" type="button" class="ml-2 mb-1" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            -->
          </div>
          <div class="toast-body">
            <!-- <p><img src="http://via.placeholder.com/400x200" class="rounded mr-2 img-fluid" alt="..."></p> -->
            <p>${current_data.display_header}</p>
          </div>`);
}


function dragstarted(d) {
  if (!d3.event.active) { simulation.alphaTarget(0.3).restart(); }
  d.fx = d.x;
  d.fy = d.y;
}

function dragged(d) {
  d.fx = d3.event.x;
  d.fy = d3.event.y;
}

function dragended(d) {
  if (!d3.event.active) simulation.alphaTarget(0);
  d.fx = null;
  d.fy = null;
}



var KEYCODE_ENTER = 13;
var KEYCODE_ESC = 27;

$(document).keyup(function(e) {
  if (e.keyCode == KEYCODE_ESC) {
    console.log('escape pressed');
    $('.node').removeClass('bold');
    $('#info_box').hide();
  }
});


</script>


</html>