---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
application-page: true
---

{% include header.html %}
{% include nav.html %}


{% include apply-now.html %}

<div class="container-fluid bg-light text-dark">
  <div class="container">
    <div class="row">
      {% for section in site.data.apply-2020.sections %}
        <section id="" class="col-xs-12 col-sm-{{ section.col }}">
            <div class="h1"><i class="text-center text-muted fas {{ section.icon }}"></i></div>
            <h2 style="{% if section.small-header %}min-height:7rem;{% endif %}{% if section.color %}color:{{section.color}};{% endif %}">{% if section.small-header %}<small><strong class="text-muted">{{ section.small-header }}</strong></small><br />{% endif %}{{ section.header }}</h2>
            <p>{{ section.text }}</p>
        </section>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container text-white pt-4 mb-4">
    <div class="row">
      <section id="" class="col-12">
        <h2 style="color:#ec9521;">What is needed to apply?</h2>
        <h4 style="color:#ec9521;">1. Application form</h3>
        <p class="lead">The form includes questions about:</p>
        <ul>
        {% for q in site.data.apply-2020.application-questions %}
          <li>{{ q.details-requested }}&nbsp;<small class="text-muted">{{ q.why }}</small></li>
        {% endfor %}
        </ul>
        <h4 style="color:#ec9521;">2. A 2-page CV/resume</h3>
        <p class="lead">We request a CV/resume in order to better understand where you are situated within your institution as well as in your larger field of research and digital humanities (if at all).</p>
        <p><em>The application form will ask for your 2-page CV/resume.</em></p>
        <h4 style="color:#ec9521;">3. A letter of support</h3>
        <p class="lead">We require a letter of agreement from the group the applicant proposes to run a DHRI for, which acknowledges the relationship and the group's willingness to publicize and run the workshop. It needs to be signed by a person in a decision-making role in the organization (and not be yourself). If you intend to run a DHRI at your place of employment, please include a letter from your direct supervisor stating their agreement and support of your efforts.</p>
        <p><em>The application form will ask for your letter of support.</em></p>
      </section>
    </div>
  </div>

  <div class="container-fluid text-dark pt-4 pb-4" style="background-color:#ec9521;">
    <div class="text-center w-100">
      <p class="lead m-0 font-weight-bold">Applications are due March 2, 2020.</p>
      <p class="mt-2"><a href="http://bit.ly/apply-to-dhri" target="_blank" class="btn btn-danger">Apply now</a></p clas>
    </div>
  </div>

  <div class="container-fluid bg-light text-dark pt-4 mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-3">
          <h2 style="color:#ec9521;">Evaluation of Applications</h2>
        </div>
        <div class="col-12 col-sm-9">
          <p class="lead">Applications will be evaluated according to the following criteria:</p>
          <ul>
            <li>Commitment to attending all 10 days of the June 2020 institute and the virtual follow-ups throughout the year;</li>
            <li>Demonstrated interest in and responsibility for “digital humanities community building” (This can be through a regional digital humanities group as a volunteer, as a post-doc in a university library, a visiting scholar at a liberal arts college, a faculty member creating a DH reading group, a curator or archivist at a historical society, library, or other humanities-oriented organization. Position title is not important. What is important is your ability to explain your responsibility or interest in building communities of DH practice.);</li>
            <li>A letter of support from a group, organization, or institution stating they will support your efforts to run a Digital Humanities Research Institute (Support does not have to be financial. It should simply recognize that your activities are recognized and welcomed by the organization.);</li>
            <li>Interest in helping to build a network of institute leaders through sharing of curricular materials and engaging in online community-support;</li>
            <li>An articulation of a DH project idea that you find interesting and would like to pursue or have already begun;</li>
            <li>An explanation of how you confront and overcome technical difficulties you have experienced in the past.</li>
          </ul>
          <p>We are looking for participants who represent diverse DH areas of interest (disciplines, methods, project-types), who work at a wide range of institutional types (universities, community colleges, libraries, archives, museums, historical associations), and who reflect an array of professional roles from graduate students to experienced faculty to librarians, administrators, museum curators, archivists and more. Ideal participants will be able to demonstrate strong communication and collaboration skills and a willingness to confront and overcome frustration. No previous technical experience is required. Applications will not be evaluated based on familiarity with existing technologies, though we are happy to hear about your aspirations and the skills you would like to develop for future work.</p>
          <p>Applications must be received by March 2, 2020.</p>
          <p>Questions and comments can be directed to info@dhinstitutes.org.</p>
        </div>
      </div>
    </div>
  </div>
  
  
<div class="container-fluid text-dark pt-4 pb-4" style="background-color:#ec9521;">
  <div class="container">
    <div class="row">
      <section id="" class="col-12">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
              <h2>FAQ</h2>
            </div>
            <div class="col-xs-12 col-sm-10">
              <div class="accordion" id="faq">
                
                {% for qa in site.data.apply-2020-faq %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.index }}"><h2 class="mb-0"><button class="text-left text-dark btn btn-link stretched-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="{% if forloop.index == 1 %}true{% else %}false{% endif %}" aria-controls="#collapse{{ forloop.index }}"><p class="lead mb-0">Q: {{ qa.q1 }}</p></button></h2></div>              
                    <div id="collapse{{ forloop.index }}" class="collapse {% if forloop.index == 100 %}show{% endif %}" aria-labelledby="heading{{ forloop.index }}" data-parent="#faq">
                      <div class="card-body text-dark">{{ qa.a }}</div>
                    </div>

                </div>
                {% endfor %}
              
              </div>
            </div>
          </div><!--/row-->

      </section>
    </div>
  </div>
</div>
  
{% include footer.html %}