<footer id="logo-adjustment" class="bg-white">
  <div class="container">

    <!-- NEH logo -->
    <div class="row logo-row justify-content-xs-left justify-content-sm-center">
      <div class="col-xs-12 col-sm-10 col-md-6">
        <div class="row">
          <div class="col-12">
              <a href="http://www.neh.gov/" target="_blank"><img src="{{ 'neh.png' | prepend: site.dirs.logo }}" class="img-fluid" /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- CUNY logos -->
    <div class="row justify-content-around logo-row justify-content-xs-left justify-content-sm-center">
      <div class="col-xs-12 col-sm-10 col-md-5">
        <div class="row align-items-end">
            <div class="col-4">
                <a href="http://www.gc.cuny.edu/" target="_blank"><img src="{{ 'gc.png' | prepend: site.dirs.logo }}" class="img-fluid" /></a>
            </div>
            <div class="col-7">
              <div class="row mb-5">
                  <div class="col-12"><a href="https://gcdi.commons.gc.cuny.edu/" target="_blank"><img src="{{ 'gcdi.png' | prepend: site.dirs.logo }}" class="img-fluid" /></a></div>
              </div>
              <div class="row">
                  <div class="col-12"><a href="http://www.cuny.edu/" target="_blank"><img src="{{ 'cuny.png' | prepend: site.dirs.logo }}" class="img-fluid" /></a></div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- NEH language -->
    <div class="row justify-content-around logo-row justify-content-xs-left justify-content-sm-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
        <p><small>The Digital Humanities Research Institute is funded through a generous grant from the National Endowment for the Humanities and with support from The Graduate Center's Provost's Office.</small></p>
      </div>
    </div>

  </div>
</footer>

{% include footer/_scripts.html %}
{% include dev/_development-scripts.html %}<!-- todo: remove on production -->

</body>
</html>