<section id="about" class="bg-orange"><!-- w-100 d-block bg-dark-blue text-white -->
  <div class="container text-dark">
    <div class="row justify-content-md-center">
      <div class="col-12 py-4">
        <h1>Page has moved!</h1>
      </div>
      <div class="col-12">
        <p class="lead">This page has moved to <code><a href="{{ page.redirect }}">{{ page.redirect }}</a></code>. You will be redirected to the correct page in a few seconds.</p>
        <p class="lead text-muted"><small>If you do not automatically get redirected, <a href="{{ page.redirect }}">click here</a>.</small></p>
      </div>
    </div>
  </div>
</section>