---
title: "2021 Digital Humanities Research Institute"
title_short: "2021 DH Research Institute"
breadcrumbs:
  - label: "DHRI@GC"
    link: "/graduate-center/"
    disabled: true
  - label: "2021 Schedule"
    link: "/graduate-center/schedule/2021"
---

{% include header.html %}
{% include nav.html %}

<section id="" class="py-4">
  
  <div class="container text-white py-3">
    <h1>Schedule</h1>
    <p class="lead">The following is an overview of the schedule when DHRI was hosted virtually in 2021.</p>
  </div>
  
  <div class="container-fluid text-white py-3 text-center">
    <img src="/assets/images/2018-dhri/schedule.png" class="img-fluid" style="width:2000px;" />
  </div>
</section>

{% include footer.html %}
