$font-stack:    Helvetica, sans-serif;
$dark-blue: rgba(39, 49, 66, 1);


#ie-warning {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

body {
  background-color: $dark-blue !important;
  min-height: 2000px;

  &::before {
  display: block;
  content: '';
  height: 72px; /* or whatever */
  }

}

.nav-link-header {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.all_states {
  fill-opacity:.1 !important;

  #DHRI {
    fill-opacity:1 !important; fill: #cf00e6;
  }

  #DHRI:hover {
    fill-opacity:.5 !important;
  }
}
.highlight { fill: $dark-blue !important; }



/* ----- megamenu ------------------------------------------ */

.megamenu {
  position: static;

  .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
  }

}

/* only lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .menu-display {
    max-width:100vw;
  }
}

/* only xl */
@media (min-width: 1200px) {
  .menu-display {
    max-width:75vw;
  }
}

/* ----- // megamenu ---------------------------------------- */