---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "DHRI@GC"
    link: "/graduate-center/"
  - label: "Participate"
    link: "/participate/"
---

{% include header.html %}
{% include nav.html %}



<section id="header" class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>Participate</h1>
    </div>
  </div>
</section>

<section id="main-text" class="py-4">
  <div class="container text-white">
    <p>What we want on this page: </p>
    <p>- You can participate in two different ways:</p>
        <p>&nbsp;&nbsp;&nbsp; (a) apply to be part of the network in a formal way</p>
        <p>&nbsp;&nbsp;&nbsp; (b) organize a DHRI in your institution independently, based on the material that you can find on this site.</p>

    <p>- Another way to contribute to the project is to help us make the curricular materials better. You can do so by forking our workshops on GitHub and work on them independently and then create a pull request.</p>

    <p>[On this page, once we have upcoming local institutes, we can also list those...]</p>
  </div>
</section>



{% include footer.html %}