---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
---

{% include header.html %}
{% include nav.html %}

<section id="" class="py-4 bg-light">
  <div class="container text-dark">
    <h1>{{ site.data.about.header }}</h1>
    {{ site.data.about.main-text }}
  </div>
</section>

<section id="principles" class="py-4">
  <div class="container text-light">
    <div class="col-12 col py-4">
        <h2>DHRI Principles</h2>
        <ul class="tabs">
          {% for p in site.data.about.principles %}
            <li class="tab-toggle" role="tab" aria-controls="{{ p.header | slugify }}" aria-selected="false">{{ p.header }}</li>
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for p in site.data.about.principles %}
            <div class="tab-pane" id="{{ p.header | slugify }}" role="tabpanel" aria-labelledby="{{ p.header | slugify }}-tab" style="display: none;">
              {{ p.content }}
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>

{% include footer.html %}