---
title: "2021 Local DHRI Institutes run by Community Leaders"
title_short: "2021 Local Institutes"
breadcrumbs:
  - label: "About"
    link: "/about/"
  - label: "Local"
    link: "/about/local/"
  - label: "2021"
    link: "/about/local/2021"
---

{% include header.html %}
{% include nav.html %}


<section class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>2021 Local DHRI Institutes run by Community Leaders</h1>
    </div>
  </div>
</section>



<section id="locals" class="bg-dark py-4" style="min-height:300px;">
  <div class="container text-white py-3">
  <div>
    <body>
      <p>Our 2021 cohort has been hard at work, developing their local institutes at their local campuses and within their disciplinary organizations. CUNY Digital Humanities Research Institute hosted a series of Friday workshops from April to June 2022, featuring community leaders from the 2018 DHRI Cohort, to answer any questions, troubleshoot challenges, and share best practices. The 2021 cohort will reconvene virtually at the end of August 2022 to develop local institute sustainability and organize white papers follow-ups to ensure institutional memory.</p>  
    
    <h1>Completed</h1>
    <ul>
        <li>Rutgers - January 2022</li>
        <li>University of Miami - 1/20/2022</li>
        <li>Trinity/Connecticut - 4/11/2022</li>
        <li>PVAMU - 4/22/2022</li>
        <li>USC/UCLA/UCI - 4/27/2022</li>
        <li>Belmont University - 5/1/2022</li>
        <li>Denison University - 5/5/2022</li>
        <li>University of Hawaiʻi at Mānoa - 5/18/2022</li>
        <li>Ramapo College - 5/24/2022</li>
        <li>Union County College - 5/24/2022</li>
        <li>SD Team - 6/1/2022</li>
        <li>Howard - June 2022</li>
        <li>CSU - SDSU/SJSU - 6/6/2022</li>
      </body>
      <body>
    <blockquote>
    <h1>Upcoming</h1>
    <ul>
        <li>Mississippi University for Women - 8/1/2022</li>
        <li>Spelman - August 2022</li>
        <li>NCCU - August 2022</li>
    </ul>
    </blockquote>
    </body>
</div>
</section>

{% include footer.html %}
