---
title: "2021 Local DHRI Institutes run by Community Leaders"
title_short: "2021 Local Institutes"
breadcrumbs:
  - label: "About"
    link: "/about/"
  - label: "Local"
    link: "/about/local/"
  - label: "2021"
    link: "/about/local/2021"
---

{% include header.html %}
{% include nav.html %}


<section class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>2021 Local DHRI Institutes run by Community Leaders</h1>
    </div>
  </div>
</section>



<section id="locals" class="bg-dark py-4" style="min-height:300px;">
  <div class="container text-white py-3">
  <div>
    <body>
    <h1>Upcoming</h1>
    <ul>
        <li>Mississippi University for Women - 8/1/2022</li>
        <li>Spelman - August 2022</li>
        <li>NCCU - August 2022</li>
        <li>Gate</li>
        <li>Placement</li>
    </ul>
    </body>
</div>
</section>

{% include footer.html %}
