---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "About"
    link: "/about/"
  - label: "Grant History"
    link: "/grant-history/"
---

{% include header.html %}
{% include nav.html %}

<section id="" class="py-4">
  <div class="container text-white">
    <h1>{{ site.data.grant-history.header }}</h1>
    {{ site.data.grant-history.main-text }}
  </div>
</section>

<!-- Todo: add quick access to reports here + maybe quotes and personal narratives about why DRI is helpful to participants -->

{% if site.data.grant-history.testimonies-active %}
<section id="timeline" class="py-4">
  <div class="container">
    <h2>{{ site.data.grant-history.testimonies-header }}</h2>
    {{ site.data.grant-history.testimonies-text }}
    <div class="accordion" id="testimonies">
                
      {% for testimony in site.data.grant-history.testimonies %}
      <div class="card">
          <div class="card-header" id="heading{{ forloop.index }}"><h2 class="mb-0"><button class="text-left text-dark btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="{% if forloop.index == 1 %}true{% else %}false{% endif %}" aria-controls="#collapse{{ forloop.index }}"><p class="lead mb-0">{{ testimony.name }}</p></button></h2></div>              
          <div id="collapse{{ forloop.index }}" class="collapse {% if forloop.index == 100 %}show{% endif %}" aria-labelledby="heading{{ forloop.index }}" data-parent="#testimonies">
            <div class="card-body text-dark">
              {{ testimony.text }}
              <div><i class="fas fa-arrow-alt-circle-right"></i> <a href="{{ testimony.original-link }}" target="_blank">Read original post</a></div>
            </div>
          </div>
      </div>
      {% endfor %}
    
    </div>
  </div>
</section>
{% endif %}

{% if site.data.grant-history.timeline-active %}
<section id="timeline">
  <div class="container-fluid">
    <div class="row border-top border-bottom" style="height: 500px; overflow: scroll; background-color:#afb3b6;">
      <div class="col-lg-7 mx-auto py-3">
        <h4>Grant timeline</h4>
          <ul class="timeline">
              {% assign sorted = site.data.grant-history.timeline | sort: 'date' | reverse %}
              {% for item in sorted %}
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow text-dark">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">{{ item.header }}</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>{{ item.date }}</span>
                    <p class="text-small mt-2 font-weight-light">{{ item.text }}</p>
                </li>
              {% endfor %}
          </ul><!-- End -->
        </div>
    </div>
  </div>
</section>
{% endif %}

{% include footer.html %}