---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "About"
    link: "/about/"
  - label: "News"
    link: "/news/"
---

{% include header.html %}
{% include nav.html %}

<section id="" class="bg-light pt-4">
  <div class="container text-dark">
    <div class="row">

      <div class="col-12">
        <h1>{{ site.data.news.header }}</h1>
      </div>

      <div class="col-12 col-md-6">
        {{ site.data.news.main-text }}
      </div>
    
      {% include get-more-information.html %}


    </div>
  </div>
</section>

<section id="" class="pt-4">
  <div class="container text-white">
  <h2>Updates</h2>
</div>

<hr />

{% assign updates = site.data.news-updates | reverse %}
{% assign all_fellows = site.data.people.fellows %}
{% assign all_leadership = site.data.people.leadership %}
{% assign all_faculty = site.data.people.faculty %}

{% for u in updates %}
  {% for update in u %}
      {% if update[1].author-short %}{% assign author = all_fellows | where:"short", update[1].author-short  | first %}
      {% if author.size > 1 %}{% else %}{% assign author = all_leadership | where:"short", update[1].author-short  | first %}{% endif %}
      {% if author.size > 1 %}{% else %}{% assign author = all_faculty | where:"short", update[1].author-short  | first %}{% endif %}
      {% endif %}
    <section id="" class="py-2">
      <div class="container text-white">
        <div class="row">
          <div class="d-none d-sm-flex col-sm-2 align-self-end"><h5>{{ update[0] | date: "%B %d, %Y" }}</h5></div>
          <div class="col-12 col-sm-10 align-self-end">
            <h2>{{ update[1].header }}<small class="text-muted d-sm-none"> {{ update[0] | date: "%B %d, %Y" }}</small></h2>
          </div>
        </div>
        <div class="row">
            <div class="d-none d-sm-flex col-sm-2"></div>
            <div class="col-12 col-sm-10">
              {{ update[1].text }}
              <div class="d-flex justify-content-end py-2"><i class="px-2 fas fa-quote-right"></i><a href="/people/" class="text-white">{{ author.first-name }} {{ author.last-name }}</a></div>
            </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endfor %}


{% include footer.html %}