---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "DHRI@GC"
    link: "/graduate-center/"
---

{% include header.html %}
{% include nav.html %}



<section id="header" class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>DHRI@GC</h1>
    </div>
  </div>
</section>

<section id="main-text" class="py-4">
  <div class="container text-white">
    <p class="lead">This is the intro</p>
    <p>Another paragraph...</p>
    <iframe title="The GC Digital Research Institute" src="https://player.vimeo.com/video/372991976?dnt=1&amp;app_id=122963" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
  </div>
</section>

<!--

  include here:
    - links to reports

-->


{% include footer.html %}