<html>
<head>
  <!-- site css -->
  <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">
</head>

<body>
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-6"><p class="lead text-dark">Column</p></div>
      <div class="col-6"><p class="lead text-dark">Column</p></div>
    </div>
  </div>

  <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>

</body>
</html>