---
title: "Digital Humanities Research Institute"
title_short: "DH Research Institute"
breadcrumbs:
  - label: "Publications and Media"
    link: "/publications/"
---

{% include header.html %}
{% include nav.html %}

<section class="jumbotron mb-0 shadow-lg jumbotron-background-image" id="jumbotron-reports"></section>

<section id="reports-intro" class="bg-light py-4">
  <div class="container text-dark">
    <h1>{{ site.data.reports.page-info.header}}</h1>
    <p>{{ site.data.reports.page-info.text}}</p>
  </div>
</section>

{% if site.data.reports.reports.size > 0 %}
<section id="report" class="bg-white py-4">
  <!--<div class="container mb-3 border-bottom text-dark"><h2>Downloads</h2></div>-->
  {% assign sorted = site.data.reports.reports | sort: 'published' | reverse %}
  {% for item in sorted %}
    
    <div class="container text-dark pb-3">
      <div class="row border-bottom rounded-bottom" style="background-color:rgb(248, 249, 250);">
        <div class="col-md-6 mb-md-0 p-md-4">
            <a href="{{ item.file }}" class="stretched-link"><img src="{{ item.preview }}" class="w-100" alt="Preview for {{ item.title }}"></a>
        </div>
        <div class="col-md-6 p-4 pl-md-0">
          <h5 class="mt-0">{{ item.title }}</h5>
          <h6><small class="text-muted">{{ item.published | date: "%B %Y" }}</small></h6>
          <p>{{ item.description }}</p>
          <a href="{{ item.file }}" class="stretched-link">{% if item.button %}{{ item.button }}{% else %}Download{% endif %}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</section>
{% endif %}

<section id="press-releases" class="bg-dark py-4" style="min-height:300px;">
  <div class="container text-light">
    <h2>Press Releases</h2>
    <ul id="press-release-list">
      <li>
        <a class="lead" data-toggle="collapse" data-target="#pressRelease1" aria-expanded="false" aria-controls="pressRelease1"><strong>8/14/2019</strong> Graduate Center Awarded $250K NEH Grant for Digital Humanities Research Institutes</a>
        <div class="collapse pt-2 pb-2 mb-2 border-bottom" id="pressRelease1">
          <p>The Graduate Center was awarded a $250,000 grant from the National Endowment for the Humanities (NEH) to support an expanded version of the Digital Humanities Research Institute, a 10-day residential workshop, first held in June 2018, that brought together humanities faculty, administrators, and curators. In the following year, participants returned to their own campus or organization and led local institutes based on the GC's model. Through this train-the-trainer approach, the first DHRI award reached more than 250 additional participants.</p>
          <p>The new project, The Digital Humanities Research Institutes (DHRI): Further Expanding Digital Humanities Communities of Practice, will extend the workshop and training to a new cohort of 15 participants in June 2020. Upon completion, DHRI’s network will include more than 30 community leaders of grassroots digital humanities research institutes at universities, libraries, archives, museums, and scholarly organizations across the United States.</p>
          <p>“We're grateful for NEH's continued support and recognition of The Graduate Center’s forward-thinking approach to next-generation scholarship and graduate education,” said Lisa Rhody, deputy director of digital initiatives and director of the project. “This award allows us to scale digital research curricula developed by doctoral student fellows for CUNY’s diverse students, faculty, and staff. The project extends core values of the GC Digital Fellows Program — building communities of digital humanities practice that center on equity and access — to a national network.”</>
          <p>During the June 2020 workshop, participants will receive intensive training on foundational digital research methods, assistance with planning local digital humanities workshops, and mentorship from past participants. Over the following academic year, participants will develop their own local digital humanities research institutes and contribute reflections on their experiences to a Guide to Leading Digital Humanities Research Institutes.</p>
          <p>In 2018, The Graduate Center received 134 applications from 23 countries for 15 available seats. “My previous digital humanities advocacy efforts had always been understood as my personal project, or my pet interest,” said Nancy Um, professor of art history at Binghamton University and a participant in DHRI 2018. “With this training under my belt, I can assert more confidence and authority.” Um, in collaboration with DHRI participant Amy Gay, reports that their local institute leveraged partnership from five academic units and admitted 17 participants.</p>
          <p>In addition to digital skill training, the DHRI connects participants with mentors and a network of community leaders, supporting participants’ professional growth in their local contexts. DHRI’s goal is to expand access to digital humanities training, effectively lowering the barrier to entry that some scholars experience when using digital tools. The Graduate Center’s DHRI is part of GC Digital Initiatives.</p>
        </div>
      </li>
    </ul>
  </div>
</section>

<section id="" class="bg-light pt-4">
  <div class="container text-dark">
    <div class="row">

      <div class="col-12">
        <h1>{{ site.data.news.header }}</h1>
      </div>

      <div class="col-12 col-md-6">
        {{ site.data.news.main-text }}
      </div>
    
      {% include get-more-information.html %}


    </div>
  </div>
</section>

<section id="" class="pt-4">
  <div class="container text-white">
  <h2>Updates</h2>
</div>

<hr />

{% assign updates = site.data.news-updates | reverse %}
{% assign all_fellows = site.data.people.fellows %}
{% assign all_leadership = site.data.people.leadership %}
{% assign all_faculty = site.data.people.faculty %}

{% for u in updates %}
  {% for update in u %}
      {% if update[1].author-short %}{% assign author = all_fellows | where:"short", update[1].author-short  | first %}
      {% if author.size > 1 %}{% else %}{% assign author = all_leadership | where:"short", update[1].author-short  | first %}{% endif %}
      {% if author.size > 1 %}{% else %}{% assign author = all_faculty | where:"short", update[1].author-short  | first %}{% endif %}
      {% endif %}
    <section id="" class="py-2">
      <div class="container text-white">
        <div class="row">
          <div class="d-none d-sm-flex col-sm-2 align-self-end"><h5>{{ update[0] | date: "%B %d, %Y" }}</h5></div>
          <div class="col-12 col-sm-10 align-self-end">
            <h2>{{ update[1].header }}<small class="text-muted d-sm-none"> {{ update[0] | date: "%B %d, %Y" }}</small></h2>
          </div>
        </div>
        <div class="row">
            <div class="d-none d-sm-flex col-sm-2"></div>
            <div class="col-12 col-sm-10">
              {{ update[1].text }}
              <div class="d-flex justify-content-end py-2"><i class="px-2 fas fa-quote-right"></i><a href="/people/" class="text-white">{{ author.first-name }} {{ author.last-name }}</a></div>
            </div>
        </div>
      </div>
    </section>
  {% endfor %}
{% endfor %}
</section>

<section class="jumbotron mb-0 shadow-md">
  <div class="container text-center text-dark">
    <div class="row justify-content-md-center">
      <h1>Media</h1>
    </div>
  </div>
</section>

<section id="press-releases" class="bg-light py-4">
  <div class="container text-dark">
    <h2>Logos</h2>
    <div class="row mb-3">
      <div class="col-md-4">
        <a href="/assets/logos/svg/01.svg"><img src="/assets/logos/png/01.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/01.png">PNG</a> | <a href="/assets/logos/svg/01.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/01-bw.svg"><img src="/assets/logos/png/01-bw.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/01-bw.png">PNG</a> | <a href="/assets/logos/svg/01-bw.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/02.svg"><img src="/assets/logos/png/02.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/02.png">PNG</a> | <a href="/assets/logos/svg/02.svg">SVG</a></strong></div>
      </div>
    </div>

    <hr />

    <div class="row mb-3">
      <div class="col-md-4">
        <a href="/assets/logos/svg/03.svg"><img src="/assets/logos/png/03.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/03.png">PNG</a> | <a href="/assets/logos/svg/03.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/03-bw.svg"><img src="/assets/logos/png/03-bw.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/03-bw.png">PNG</a> | <a href="/assets/logos/svg/03-bw.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/03-wt.svg"><img src="/assets/logos/png/03-wt.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/03-wt.png">PNG</a> | <a href="/assets/logos/svg/03-wt.svg">SVG</a></strong></div>
      </div>
    </div>

    <hr />

    <div class="row mb-3">
      <div class="col-md-4">
        <a href="/assets/logos/svg/04.svg"><img src="/assets/logos/png/04.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/04.png">PNG</a> | <a href="/assets/logos/svg/04.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/05.svg"><img src="/assets/logos/png/05.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/05.png">PNG</a> | <a href="/assets/logos/svg/05.svg">SVG</a></strong></div>
      </div>

      <div class="col-md-4">
        <a href="/assets/logos/svg/05-bw.svg"><img src="/assets/logos/png/05-bw.png" class="img-fluid download-image"></a>
        <div class="text-center"><strong><a href="/assets/logos/png/05-bw.png">PNG</a> | <a href="/assets/logos/svg/05-bw.svg">SVG</a></strong></div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}